 /* Base styles */
 body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

/* Header and Logo */
.logo-box {
    padding: 0;
}

.logo {
    width: 220px;
    height: 100px;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
/* Main Image Section */
.image-container {
    background-image: linear-gradient(135deg,rgba(230,238,240,255), rgba(207,219,217,255))
}


.main-image {
    width: 100%;
    height: 50vh;
    background-image: url(./images/main-image.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
    background-position-y: center;
}

/* Search Container */
.search-container {
    position: relative;
    top: -80px;
    width: 100%;
    padding: 20px;
    background-color: rgba(200, 200, 200, 0.7);
}

.search-form-control {
    border-radius: 10px;
    font-family: inherit;
    letter-spacing: 2px;
    font-size: 16px;
    outline: none;
    height: 40px;
    text-indent: 40px;
    width: 400px;
    margin-right: 20px;
}

.location-select {
    border-radius: 10px;
    font-family: inherit;
    letter-spacing: 1px;
    font-size: 16px;
    padding-left: 10px;
    height: 40px;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath d='M6 9L1 4h10z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    width: 200px;
}

.status-selection {
    width: 250px;
    height: 40px;
    margin-left: 10px;
    border-radius: 10px;
    text-indent: 20px;

}

.add-new {
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: white;
    font-family: inherit;
    letter-spacing: 1px;
    font-size: 16px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.ai-support:hover {
    background-color: rgb(220, 220, 220);
}

.ai-support:active {
    background-color: white;
}

.ai-support-container {
    position: relative;
}

/* Job Sections */
.job-section {
    margin-bottom: 40px;
}

.section-title {
    font-size: 28px;
    letter-spacing: 2px;
    margin: 30px 0;
}

.job-section-title {
    font-size: 24px;
    letter-spacing: 2px;
}

.open-role-box {
    background-color: rgb(200, 200, 200);
    padding: 5px 15px;
    border-radius: 14px;
    text-align: center;
    font-size: 14px;
}

.job-card {
    border: 1px solid #dee2e6;
    padding: 20px;
    margin-bottom: 20px;
    transition: all 0.2s ease;
    border-radius: 5px;
}

.job-title {
    font-size: 22px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.job-title:hover {
    color: #4286f5;
}

.job-description {
    font-size: 16px;
    line-height: 1.5;
}

.job-status-container {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(200, 200, 200);
}

.job-status {
    border: none;
    background-color: transparent;
    font-size: 1em;
}

.job-progress-container {
    width: 150px;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: transparent;
}

.job-progress {
    border: none;
    background-color: transparent;
    font-size: 1em;
    margin-right: 10px;
    margin-top: 5px;
}

.loading-container{
    position: relative;
    width: 25px;
    height: 25px;
}

.circle1 {
    position: absolute;
    right: 6px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-top: 3px solid black;
    border-right: 3px solid #fbbc05;
    border-left: 3px solid #fbbc05;
    border-bottom: 3px solid black;
    animation: spinner1 1.2s ease-in-out infinite;
}

.circle2 {
    position: absolute;
    right: 11px;
    top: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border-top: 3px solid #fbbc05;
    border-right: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid #fbbc05;
    animation: spinner2 1.2s ease-in-out infinite;
}

/* Footer */
.bottom-box {
    position: fixed;
    top: 96vh;
    width: 100%;
    height: 50px;
    background-color: #4286f5;
}

/* Custom Font */
@font-face {
    font-family: 'Montserrat';
    src: url(./font/Montserrat-VariableFont_wght.ttf);
}

@keyframes spinner1 {
    
    to {

        transform: rotate(360deg);

    }
}

@keyframes spinner2 {
    
    to {

        transform: rotate(-360deg);

    }
}